
.cabeçalho{
    background-color: #000000;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;}
    
    body{
    font-style: normal;
    font-family: "Castoro", serif;
    font-weight: 400;}

  .cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;}

.ensino {
    background-image: linear-gradient(#5c01a7,#cfa1f5);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;}
  
    .ensino-imagem{
    padding: 24px 20px;
    width: 25%;
    }

.ensino-div-conteudo{
    width: 35%;}

.ensino-título{
    padding: 24px 24px;}

.conteúdos{
    background-image: linear-gradient(#cfa1f5,#ffffff);
}
.conteúdos-imagem{
    width: 200px;}

.conteúdos-div{
    text-align: center;
    padding: 24px 24px;}

.conteúdos-todos{
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;}

    .cores{

        background-image: linear-gradient(#ffffff,#575757);  
    }