.cabeçalho{
    color: rgb(1, 25, 128);
    display:flex;
    justify-content: space-around;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.ensino {
    background-image:linear-gradient(#460096cb,#c191f8cb)}

