*{
    margin: 0;
    padding: 0;
}


.cabeçalho{
    background-color: #000000;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;}
    
    body{
    font-style: normal;
    font-family: "Castoro", serif;
    font-weight: 400;
    background-image: linear-gradient(#cc8eff,#000000);
}

  .cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;}

 #ensino {
    color: rgb(255, 255, 255);
    background-color: #7200be;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;}
  
    .ensino-imagem{
    padding: 24px 20px;
    width: 25%;
    }

    .ensino-div-conteudo{
        width: 35%;}

.ensino-título{
    padding: 24px 24px;}

.conteúdos-imagem{
    width: 200px;}

.conteúdos-div{
    text-align: center;
    padding: 24px 24px;}

.conteúdos-todos{
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;}

